extends index.pug
block content
    h1= project.name
    each idea in project.ideas
                - var classes = ["idea", "text"]
                div(class = classes)
                    p
                        = idea.content